@page
    @model CheckoutModel
@{
    ViewData["Title"] = "Checkout Complete";
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<div class="container">
    <h1>Thanks, we have create a quote which you can see in 'My Quotes'!  If all is well, the quote will automatically create an order.</h1>

    <a asp-page="/Index">Continue Shopping...</a>
</div>
